@using ScrumProject.ViewModels;
@using ScrumProject.Models.DataLayer;
@{
    ViewData["Title"] = "Admin - Appointments";
}

<!-- DataTable library -->
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.css" />


<h1 class="text-center mt-5 pt-3">Appointments</h1>
<div class="mb-3">
    <a class="btn btn-outline-dark" asp-controller="ViewAppt" asp-action="Todays" asp-area="Admin">Todays Appointments</a>
</div>

<div class="table-responsive">
<table id="myTable" class="table table-striped">
    <thead>
        <tr>
            <th>Type</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Requested Date</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
            @foreach (var appointment in Model)
            {
                <tr>
                    @switch (appointment.AppointmentTypeId)
                    {
                        case 1:
                            <td>New Hire</td>
                            ;
                            break;
                        case 2:
                            <td>Client</td>
                            ;
                            break;
                        case 3:
                            <td>Collision Repair</td>
                            ;
                            break;
                        case 4:
                            <td>Painting</td>
                            ;
                            break;
                        case 5:
                            <td>Specialty Painting</td>
                            ;
                            break;
                    }
                <td>@appointment.ContactFname</td>
                <td>@appointment.ContactLname</td>
                <td>@appointment.ContactEmail</td>
                <td>@appointment.ContactPhone</td>
                <td>@appointment.RequestDate.ToString("d")</td>
                <td>@appointment.Description</td>
            </tr>
        }
    </tbody>
</table>
</div>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.js"></script>

<!-- initialize table-->
<script>
    new DataTable('#myTable');
</script>