@using ScrumProject.ViewModels;
@using ScrumProject.Models.DataLayer;


<h1 class="text-center mt-5 pt-3">Today</h1>

<div class="my-3">
    <a class="btn btn-outline-dark" href="@Url.Action("Index", "ViewAppt")">All Appointments</a>
</div>


<table class="table table-striped">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Requested Date</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var appointment in Model)
        {
            if (@appointment.RequestDate == DateTime.Today.AddDays(-4))
            {

                <tr>
                    <td>@appointment.ContactFname</td>
                    <td>@appointment.ContactLname</td>
                    <td>@appointment.ContactEmail</td>
                    <td>@appointment.ContactPhone</td>
                    <td>@appointment.RequestDate.ToString("d")</td>
                    <td>@appointment.Description</td>
                </tr>
            }
        }
    </tbody>
</table>